*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
body
  background-color: #253241
  color: white
  font-family: 'Homestead-Inline'
  .wrapper
    width: 100%
    max-width: 800px
    position: fixed
    text-align: center
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  #roll
    // display: none
    display: inline-block
    color: white
    background-color: darken(#253241, 3%)
    text-decoration: none
    font-size: 3rem
    border: 5px solid white
    padding: 0.45em 2em
    border-radius: 3em
    transition: 400ms ease-in-out
    &:hover
      background-color: white
      color: #253241
      font-family: 'Homestead'
  #names
    font-size: 2.5rem
  #winner
    font-size: 4rem
    span
      font-size: 0.35em
      letter-spacing: 4px
      font-family: 'Homestead'
